{% set overlay_env = "dev" %}
{% set prod_replicas = {"small": 1, "medium": 2, "large": 3} %}
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{ tenant_slug }}-dev

resources:
  - ../../base

namePrefix: dev-

replicas:
  - name: {{ tenant_slug }}
    count: {% if overlay_env == "prod" %}{{ prod_replicas[resource_tier] }}{% else %}1{% endif %}

images:
  - name: {{ container_image }}
    newTag: dev
