apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ tenant_slug }}-secrets
  namespace: {{ tenant_slug }}
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: {{ key_vault_name }}-store
    kind: SecretStore
  target:
    name: {{ tenant_slug }}-secrets
  dataFrom:
    - extract:
        key: {{ tenant_slug }}
