apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: {{ tenant_slug }}-base

commonLabels:
  app.kubernetes.io/part-of: {{ tenant_slug }}
  platform.io/tenant: {{ tenant_slug }}
  platform.io/tier: {{ resource_tier }}

resources:
  - deployment.yaml
  - service.yaml
  - external-secret.yaml
