apiVersion: v1
kind: Service
metadata:
  name: {{ tenant_slug }}
  namespace: {{ tenant_slug }}
  labels:
    app: {{ tenant_slug }}
spec:
  selector:
    app: {{ tenant_slug }}
  ports:
    - port: 8080
      targetPort: 8080
